#srb-content {
  margin-top: -20px;
  font-family: "Montserrat", "Trebuchet MS", sans-serif;
}

#srb-content .srb-button {
  padding: 10px;

  color: white !important;
  text-decoration: none;
  background-color: #FFBC00;
  border-radius: 100px;
}

#srb-content .srb-button:hover, #srb-content .srb-button:active, .srb-button:focus {
  background-color: #E0A000;
  text-decoration: none !important;
  cursor: pointer;
}



#srb-content .header {
  padding: 20px 0px;
  margin: 0px 0px;
}

#srb-content .header img {
  display: inline-block;
  width: 140px;
}

#srb-content .header .link-to-srb {
  display: inline-block;
  margin-top: 10px;
  font-size: 18px;
}



#srb-content .navigation {
  background-color: #333C49;
  width: 100%;
}

#srb-content .navigation li {
  padding: 10px 0;
  font-size: 16px;
  border: 1px solid #333C49;
}

#srb-content .navigation li a {
  padding: 0px 0;
  color: white;

}

#srb-content .navigation .active, #srb-content .navigation li:hover {
  background-color: #FFBC00;
  border: 1px solid #E0A000;
}

#srb-content .navigation .active a, #srb-content .navigation li:hover a {
  background-color: #FFBC00;
  padding: 10px 0;
}



#srb-content .data {
  margin-top: 40px;
}



#srb-content .data .banner p {
  margin-top: 30px;
}



#srb-content .data table tr {
  height: 40px;
}

#srb-content .data table td, #srb-content .data table th {
  text-align: center;
}

#srb-content .data table img {
  max-width: 100px;
}



#srb-content .data .pagination {
  padding: 0;
  width: 100%;
  text-align: center;
}

#srb-content .data .pagination ul {
  display: inline-block;
}

#srb-content .data .pagination ul li {
  float: left;
  list-style-type: none;
}

#srb-content .data .pagination ul li a {
  padding: 0;
  color: #505050;
}

#srb-content .data .pagination ul li button {
  padding: 5px 2px;
  font-weight: bold;
}

#srb-content .data .pagination ul .active button {
  color: #40A0F0;
}
