#config {
  background-color: white;
  padding: 10px;
}

#config form {
  padding: 0;
}

#config form .panel {
  border: none !important;
  padding: 10px !important;
}

#config .no-account {
  margin-top: 0px !important;
  font-size: 20px;
  text-align: center;
  width: 100%;
}
