#srb-manager {
  margin-top: 40px;
}



#srb-manager .display .banner .top {
  vertical-align: middle;
}

#srb-manager .display .banner .title {
  vertical-align: middle;
}

#srb-manager .display .banner .title h1 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

#srb-manager .display .banner .srb-button {
  padding: 8px;
  font-size: 14px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

#srb-manager .display .banner .external-link {
  text-align: center;
  vertical-align: middle;
}

#srb-manager .display .banner p.col-sm-12 {
  margin-top: 20px;
}



#srb-manager table tr {
  height: 40px;
}

#srb-manager table td, #srb-manager table th {
  text-align: center;
}

#srb-manager table img {
  max-width: 100px;
}

#srb-manager table tbody tr .badge {
  padding: 5px;
  border-radius: 4px;
}

#srb-manager table tbody tr .badge.created {
  background-color: #0A8CFF;
}

#srb-manager table tbody tr .badge.started {
  background-color: #FCDC12;
}

#srb-manager table tbody tr .badge.paid {
  background-color: #8FBEAC;
}

#srb-manager table tbody tr .badge.transiting {
  background-color: #FFBC00;
}

#srb-manager table tbody tr .badge.relocated {
  background-color: #47DB30;
}

#srb-manager table thead tr .input-order-id {
  width: 100px;
}



#srb-manager .pagination {
  padding: 0;
  width: 100%;
  text-align: center;
}

#srb-manager .pagination ul {
  display: inline-block;
}

#srb-manager .pagination ul li {
  float: left;
  list-style-type: none;
}

#srb-manager .pagination ul li a {
  padding: 0;
  color: #505050;
}

#srb-manager .pagination ul li button {
  padding: 5px 2px;
  font-weight: bold;
}

#srb-manager .pagination ul .active button {
  color: #40A0F0;
}
